body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

p {
    margin-left: 10em;
    margin-right: 10em;
}

div {
    background-color: beige;
    font-size: 20px;
    text-align: center;
}

.h3 {
    color: darkgreen;
}

.text {
    color: olive;
}